# Python
*.py[cod]
*.pyc
__pycache__
*.so
*.pyd

# Virtualenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# If your Django project uses a local settings file:
local_settings.py

# SECRET_KEY should not be version controlled
.secret

# OS-specific files:
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Visual Studio Code
.vscode/

# PyCharm
.idea/
*.iml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Test and coverage reports
.coverage
.coverage.*
.cache
.nox/
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
.tox/
.cache/
nosetests.xml
coverage/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# dotenv
.env
